{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <div class="card">
            <div class="titleCard">
                <h1>Inscription</h1>
            </div>
            <div class="sousCardForm">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="add-another-collection-widget">Register</button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}
