{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="titleCard">
            {% if edit %}
            <h1>Modifier</h1>
            {% else %}
                <h1>Ajouter un Stagiaire</h1>
            {% endif %}
        </div>
        <div class="sousCardForm">
            {{ form_start(formStagiaire) }}
            <div class="twoForm">
                {{ form_row(formStagiaire.nom) }}
                {{ form_row(formStagiaire.prenom) }}
            </div>
            {{ form_row(formStagiaire.email) }}
            {{ form_row(formStagiaire.ville) }}
            <div class="twoForm">
                {{ form_row(formStagiaire.sexe) }}
                {{ form_row(formStagiaire.dateDeNaissance) }}
            </div>
            {{ form_row(formStagiaire.telephone) }}
            {{ form_row(formStagiaire.picture) }}
            {{ form_row(formStagiaire.Ajouter) }}
            {{ form_end(formStagiaire) }}
        </div>
    </div>
</div>
{% endblock body %}
