{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="titleCard">
            <h1>Session {{session.Libelle}} </h1>
        </div>
        <div class="sousCardCategorie">
            <div class="editButton">
                <a href="{{ path('edit_session', {'id': session.id}) }}" class="edit">E</a>
                <a href="" class="delete">D</a>
            </div>
            <div class="categorieContainer">
                {% if session.programmes is empty %}
                    <p>Il n'y a aucun cours sur cette session revenez plus-tard.</p>
                {% else %}
                    {% for categorie  in programmesParCategorie %}
                        <div class="cardCategorie">
                            <div class="titleCardCategorie">
                                <h3>{{ categorie.libelle }}</h3>
                            </div>
                            {% for programmes in session.programmes %}
                                {% for cours in categorie.cours %}
                                    {% if programmes.cours.id == cours.id %}
                                        <div class="sousCategorieCard">
                                            <span class="spanCategorieCard"> {{programmes.cours.libelle}} </span>
                                            <span> {{programmes.duree}} Jours</span>
                                        </div>  
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
