{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="titleCard">
            <h1>Edit une Session</h1>
        </div>
        <div class="sousCardForm">
            {{ form_start(formSession) }}
            {{ form_row(formSession.libelle) }}
            <div class="twoForm">
                {{ form_row(formSession.dateDebut) }}
                {{ form_row(formSession.dateFin) }}
            </div>
            {{ form_row(formSession.nbDePlace) }}
            {{ form_row(formSession.Ajouter) }}
            {{ form_end(formSession) }}
        </div>
    </div>
</div>
{% endblock body %}
