<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('Css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home')}}">HOME</a></li>
                    <li><a href="{{ path('app_session')}}">LISTE DES SESSIONS</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_stagiaire')}}">LISTE DES STAGIAIRES</a></li>
                    {% endif %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="navAside">
                        <a href="{{ path('new_stagiaire')}}">AJOUTER UN STAGIAIRE</a>
                        <a href="{{ path('new_session')}}">AJOUTER UNE SESSION</a>
                    </div>
                {% endif %}
                {% if app.user %}
                <div class="navLog">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('app_register')}}">Inscription</a>
                    {% endif %}
                    <a href="{{path('app_logout')}}">Déconnexion</a>
                </div>
                {% else %}
                    <div class="navLog">
                        <a href="{{path('app_login')}}">Connexion</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="{{ asset('Js/script.js')}}"></script>
        {% endblock %}
    </body>
</html>
